*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    height: 100vh;
}

h1{
    text-align: center;
}

.menu{
    width: 20%;
    height: 100%;
    float: left;
    background-color:#6b4226;
    text-align: center;
}

.menu img{
    border:2px solid antiquewhite;
    border-radius: 50%;
    margin-top: 40%;
    margin-bottom: 5%;
    width: 140px;
    height: 140px;
}

li{
    text-align: center;
}

ul{
    list-style-type: none;
    text-decoration-color: white;
}

.container{
    width: 80%;
    height: 100%;
    float: right;
    background-color:antiquewhite;
    margin-top: 0%;
}

header{
    margin-top: 22%;
    text-align: center;
}

article{
    margin: 12px;
}
